

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background: #37517e;
}

a {
  color: #47b2e4;
  text-decoration: none;
  
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}
/*-----------------Clothes-Page------------------*/
.clothes-container-2 {
  display : flex;
  align-items : center;
  justify-content : center;
  height : 0vh; 
}
.clothes-container-1 {
  color : white; 
  display: flex;
  height : 50vh;
  align-items: center;
  justify-content: center
}
.clothes-img {
  position : absolute;
  left : 620px;
  top : 80px;
}