body {
    font-family: 'Montserrat', sans-serif;
    background-color: #37517e;
  }
  
  
  /*-----------------Clothes-Page------------------*/
  .clothes-container-2 {
    display : flex;
    align-items : center;
    justify-content : center;
    height : 0vh; 
  }
  .clothes-container-1 {
    color : white; 
    display: flex;
    height : 50vh;
    align-items: center;
    justify-content: center
  }
 