body {
  font-family: 'Montserrat', sans-serif;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #37517e;
}

.card {
  margin: 0px;
  margin-bottom: 2rem;
}
.form-control{
  margin-bottom: 20px;
}
.card-title {
  padding-top: 0.25rem;
  border-bottom: solid 2px;
  padding-bottom: 10px;
  color: #37517e;
}

h3 {
  font-family: "Helvetica Neue", sans-serif;
}
