<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schedule Page</title>

  <link rel="icon" href="{{ url_for('static', filename='img/IIT_Gandhinagar_Logo.svg.png') }}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <!-- Bootstrap and CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_clothes_status.css') }}">
</head>

<body>
  <body>
    <!-- ======= Header ======= -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(0, 0, 0, 0.568)">
    <a class="navbar-brand" id="title" style="color: white; font-size: 30px;">LMS-Student</a>
    <button class="navbar-toggler " style="margin-right:10px" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" >
        <a class="nav-item nav-link active" href="/homepage_student" style="color: white; font-size: 18px;font-weight: 400;margin-left: 30px">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="clothes_status" style="color: white; font-size: 18px;font-weight: 400;margin-left: 30px">Clothes-Status</a>
        <a class="nav-item nav-link" href="/schedule" style="color: white; font-size: 18px;font-weight: 400;margin-left: 30px">Schedule</a>
        <a class="nav-item nav-link" href="/complain_status" style="color: white; font-size: 18px;font-weight: 400;margin-left: 30px">Complaint-Status</a>
      </div>
    </div>
  </nav><!-- End Header -->

    {% if complain_status == 'None' %}

    <div class="status-container-1 container">
      <div>
          <h1>You haven't given any complain</h1>
      </div>
    </div> 

    {% else %}

    <div class="status-container-1">
        <div>
            <h4>You can check the status of your complain here, the details are provided below.</h4>
        </div>
    </div> 

    <div class="container status-container-2">
        <div class="card">
            <div class="card-body" style="padding-bottom : 5px;">
                <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td>ID-Number</td>
                        <td>{{complain_status[1]}}</td>
                      </tr>
                      <tr>
                        <td>Complain</td>
                        <td>{{complain_status[2]}}</td>
                      </tr>
                      <tr>
                        <td>Description</td>
                        <td>{{complain_status[4]}}</td>
                      </tr>
                      <tr>
                        <td>Status</td>
                        <td>{{complain_status[3]}}</td>
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    {% endif %}
    
</body>
</html>