<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schedule Page</title>

  <link rel="icon" href="{{ url_for('static', filename='img/IIT_Gandhinagar_Logo.svg.png') }}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <link href="{{ url_for('static', filename='css/hostel_styles.css') }}" rel="stylesheet">
 
</head>

<body>

  <!-- ======= Header ======= -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(0, 0, 0, 0.568)">
    <a class="navbar-brand" id="title" style="color: white; font-size: 30px;">LMS-Student</a>
    <button class="navbar-toggler " style="margin-right:10px" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" >
        <a class="nav-item nav-link active" href="/homepage_student" style="color: white; font-size: 18px;font-weight: 400;margin-left: 30px">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="clothes_status" style="color: white; font-size: 18px;font-weight: 400;margin-left: 30px">Clothes-Status</a>
        <a class="nav-item nav-link" href="/schedule" style="color: white; font-size: 18px;font-weight: 400;margin-left: 30px">Schedule</a>
        <a class="nav-item nav-link" href="/complaint_status" style="color: white; font-size: 18px;font-weight: 400;margin-left: 30px">Complaint-Status</a>
        <a class="nav-item nav-link" href="/laundry_facility" style="color: white; font-size: 18px;font-weight: 400;margin-left: 30px">Other-Facility</a>

      </div>
    </div>
  </nav><!-- End Header -->
    <!-- <div class="image">
        <img class="schedule-img" src="{{ url_for('static', filename='img/washing-machine.png') }}" alt="Your Image" width="100" height="100p">
    </div> -->

    <div class="schedule-container-1">
        <div>
            You can check the laundry schedule of your Hostel here
        </div>
    </div> 

    <div class="container schedule-container-2">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered text-center" style="font-size: 16px;">
                <tbody>
                      <tr class="schedule-row">
                        <td>Hostel</td>
                        <td>Schedule-1</td>
                        <td>Schedule-2</td>
                      </tr>
                      <tr>
                        <td>Aibaan</td>
                        <td>Wednesday</td>
                        <td>Saturday</td>
                      </tr>
                      <tr>
                        <td>Beauki</td>
                        <td>Monday</td>
                        <td>Thursday</td>
                      </tr>
                      <tr>
                        <td>Chimair</td>
                        <td>Monday</td>
                        <td>Thursday</td>
                      </tr>
                      <tr>
                        <td>Duven</td>
                        <td>Monday</td>
                        <td>Thursday</td>
                      </tr>
                      <tr>
                        <td>Emiet</td>
                        <td>Tuesday</td>
                        <td>Friday</td>
                      </tr>
                      <tr>
                        <td>Firpeal</td>
                        <td>Monday</td>
                        <td>Thursday</td>
                      </tr>
                      <tr>
                        <td>Griwiksh</td>
                        <td>Monday</td>
                        <td>Thusrday</td>
                      </tr>
                      <tr>
                        <td>Hiqom</td>
                        <td>Tuesday</td>
                        <td>Friday</td>
                      </tr>
                      <tr>
                        <td>Ijokha</td>
                        <td>Wednesday</td>
                        <td>Saturday</td>
                      </tr>
                      <tr>
                        <td>Jurqia</td>
                        <td>Tuesday</td>
                        <td>Friday</td>
                      </tr>
                      <tr>
                        <td>Kyzeel</td>
                        <td>Wednesday</td>
                        <td>Saturday</td>
                      </tr>
                      <tr>
                        <td>Lekhag</td>
                        <td>Wednesday</td>
                        <td>Saturday</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</body>
</html>