<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
  <link rel="icon" href="{{ url_for('static', filename='img/IIT_Gandhinagar_Logo.svg.png') }}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

  <!-- Bootstrap and CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register_styles.css') }}">
</head>

<body>
  <body>
    <!-- <div>
        <nav class="navbar navbar-light bg-dark" style="margin : 0; padding : 0;background-color: rgba(0, 0, 0, 0.568)">
          <a class="navbar-brand" id="title" style="color: white; font-size: 20px;padding-left: 10px;">Laundry Management System</a>
        </nav>
    </div> -->
    
    <div class="container-fluid register-container">
        <div class="card register-card">
            <div class="card-body">
              <h3 class="mb-4 text-center">Sign-Up</h3>
              <form style="margin-bottom : 0px;" method="post" action="">
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email_id" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                  </div>
                  <div class="mb-3">
                    <label for="roll_no" class="form-label">Roll-No./ID</label>
                    <input type="text" pattern="[0-9]{8}" class="form-control" id="roll_no" name="roll_no" placeholder="21570004">
                  </div>
                  <div class="mb-3">
                    <label for="hostel" class="form-label">Hostel</label>
                    <input type="text" class="form-control" id="hostel" name="hostel" placeholder="D-121">
                  </div>
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone No.</label>
                    <input type="text" pattern="[0-9]{10}" class="form-control" id="phone" name="phone" placeholder="9426524123">
                  </div>
                  <div class="d-grid text-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                  </div>
                  <div style="padding-left: 60px; padding-top: 10px;">Already have an account , then <a href="/">Sign-In</a></div>
              </form>
            </div>
        </div>
    </div>
</body>
</html>