<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Students Page</title>

  <link rel="icon" href="{{ url_for('static', filename='img/IIT_Gandhinagar_Logo.svg.png') }}">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <!-- Bootstrap and CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/student_page_styles.css') }}">
</head>

<body>
   <!-- ======= Header ======= -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(0, 0, 0, 0.568)">
    <a class="navbar-brand" style="color: white; font-size: 30px;">LMS-Admin</a>
    <button class="navbar-toggler" style="margin-right:10px" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" >
        <a class="nav-item nav-link active" href="/homepage_admin" style="color: white; font-size: 18px;font-weight: 400;margin-left: 30px">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/clothes" style="color: white; font-size: 18px;font-weight:400;margin-left: 30px">Clothes</a>
        <a class="nav-item nav-link" href="/add_clothes" style="color: white; font-size: 18px;font-weight: 400;margin-left: 30px">Add Clothes</a>
        <a class="nav-item nav-link" href="/complaints" style="color: white; font-size: 18px;font-weight: 400;margin-left: 30px">Complaints</a>
        {% if session['p_level'] == 1 %}
        <a class="nav-item nav-link" href="/student_list" style="color: white; font-size: 18px;font-weight: 400;margin-left: 30px">Students</a>
        {% endif %}
      </div>
    </div>
  </nav><!-- End Header -->

    <div class="student-img">
        <img src="{{ url_for('static', filename='img/database.png') }}" alt="Your Image" width="60" height="60">
    </div>
  
    <div class="container student-container-1">
        <div class="text-center" style="padding-left: 50px;">
            The active users of the Laundry Services are listed here
        </div> 
    </div>

    <div class="container student-container-2">
        <div class="card">
            <div class="card-body" style="padding-bottom : 5px;">
                <table class="table table-bordered text-center">
                    <tbody>
                      <tr class="student-row">
                        <td>Email</td>
                        <td>ID-Number</td>
                        <td>Phone Number</td>
                        <td>Hostel</td>
                        <td>Remove</td>
                      </tr>
                      {% for user in userDetails %}
                        <tr>
                          <td> {{user[0]}} </td>
                          <td> {{user[3]}} </td>
                          <td> {{user[1]}} </td>
                          <td> {{user[4]}} </td>
                          <td><button type="submit" class="btn btn-primary"><a href="/delete?id={{user[0]}}" style="text-decoration: none; color: inherit;">Delete</a></button></td>
                        </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</body>
</html>
